<div class="modal modal-menu"></div>
<header class="menu">
    <section class="menu-hero">
        <div class="menu-hero-logo">
            <h1>
                <a href="/">H-STORE</a>
            </h1>
            <p>
                Agente autorizado Unitel
            </p>
        </div>
    </section>
    <section class="menu-navegacao">
        <nav>
            <ul class="menu-navegacao-items">
                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <i class="fas fa-chart-bar"></i>
                        <span>
                            <a>Relatórios</a>
                        </span>
                    </div>

                    <section class="sub-menu-navegacao-items-item-titulo">
                        <div>
                            <a href="/relatorios/mensal">Mensal</a>
                        </div>
                        <div>
                            <a href="/relatorios/quinzenal">Quinzenal</a>
                        </div>
                    </section>
                </li>

                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <i class="fas fa-store"></i>
                        <span>
                            <a>Faturações</a>
                        </span>
                    </div>
                    <section class="sub-menu-navegacao-items-item-titulo">
                        <div>
                            <a href="/faturacao/mensal">Mensal</a>
                        </div>
                        <div>
                            <a href="/faturacao">Diaria</a>
                        </div>
                    </section>
                </li>

                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <i class="fas fa-users"></i>
                        <span>
                            <a href="/agentes">Sub-agentes</a>
                        </span>
                    </div>
                </li>

                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <i class="fas fa-user-tie"></i>
                        <span>
                            <a href="/usuarios">Usuários</a>
                        </span>
                    </div>
                </li>

                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <span id="logo">{{logo}}</span>
                        <span id="nome">
                            <a>{{usuario.nome}}</a>
                        </span>
                    </div>
                </li>
                <li class="menu-navegacao-items-item">
                    <div class="menu-navegacao-items-item-titulo">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>
                            <a href="/usuarios/logout">Sair</a>
                        </span>
                    </div>
                </li>
            </ul>

        </nav>
    </section>
</header>
<div class="conteiner-menu-hero-btn">
    <button class="fas fa-bars menu-hero-btn fa-2x" style="color: #000000; font-size: 1.5em;"></button>
</div>