{{>header}}
<main class="main-page main-form">
    <section class="main-page-form">
        <h2>Editar Senha</h2>
        <form class="main-page-form-edit-usuario-senha">
            <input type="number" name="id_usuario" id="id_usuario" placeholder="id_usuario" value="{{usuario.id_usuario}}" style="display: none;" required>

            <input type="password" name="senha" id="senha" minlength="6" placeholder="Senha atual" required>
            
            <input type="password" name="senhaNova" id="senhaNova" minlength="6" placeholder="Nova senha" required>
            
            <input type="password" name="senhaConf" id="senhaConf" minlength="6" placeholder="Confirme a senha" required>
            
            <button type="submit">Atualizar</button>
        </form>
    </section>
</main>