<main class="main-page main-form main-form-login">
    <section class="main-page-form">
        <h2>Login</h2>
        <form class="main-page-form-login-usuario">
            <input type="tel" name="telefone" id="telefone" placeholder="Telefone" required>

            <input type="password" name="senha" id="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>
    </section>
</main>