<main class="main-page main-form main-form-login">
    <section class="main-page-form">
        
        <a href="/"><h2>Click aqui</h2></a>
        <hr>
        <p>
            Se o problema persistir consulte o suporte, dos desenvolvedores!
        </p>
    </section>
</main>