:root {
    --white: #ffffff;
    --gray: #f0f0f0;
    --grayLight: #666666;
    --laranja: #f7941e;
    --roxoProfundo: #1a0033;
    --roxo: #4B1E78;
    --roxoLight: #2a0a5ecb;
    --black: #1a1a1a;
    --green: #5acc02;
}

.main-page-detalhe {
    display: flex;
    flex-flow: column;
    height: 80vh;
    margin-top: 50px;
    padding-left: 20px;

    h2 {
        align-self: flex-start;
        color: var(--roxo);
        font-weight: 500;
        font-size: 1.6em;
    }

    .designacao {
        color: var(--black);
    }

    .valor {
        color: var(--black);
        font-weight: 500;
    }

    .main-page-detalhes {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;

        .main-page-detalhes-cabecalho {
            align-self: flex-start;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            aside {
                display: flex;
                align-items: center;
                gap: 10px;

                h2 {
                    font-size: 1.6em;
                }
            }

            .fa-ellipsis-v {
                padding: 10px;
                cursor: pointer;
            }

            .main-page-detalhes-cabecalho-menu {
                position: relative;
            }

            .main-page-detalhes-cabecalho-menu-escondido {
                position: absolute;
                min-width: 145px;

                background-color: #ffffff;
                box-shadow: 0 10px 30px #00000033;
                border-radius: 10px;
                overflow: hidden;
                padding: 6px;
                display: none;

                right: 5px;
                top: 8px;
                z-index: 5;

                transition: 0.2s ease;

                li,
                form {
                    cursor: pointer;
                    padding: 6px 6px 6px 8px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    transition: .3s;

                    a {
                        color: var(--roxo);
                    }

                    button {
                        color: #dd080f;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        text-align: left;
                        font-size: 1em;
                        animation: none;
                    }
                }

                li:hover, form:hover {
                    background-color: #f0f0f086;
                }
            }

            .main-page-detalhes-cabecalho-menu-visivel {
                display: block;
            }
        }

        .main-page-detalhes-hero {
            padding: 18px 0px;
            padding-top: 30px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: relative;
            z-index: -1;


            .main-page-avatar {
                background-color: var(--roxo);
                color: var(--gray);
                font-size: 4.5em;

                display: flex;
                justify-content: center;
                align-items: center;
                height: 110px;
                width: 110px;
                border-radius: 50%;
                margin-top: 40px;
            }

            h3 {
                color: var(--roxo);
                font-size: 1.3em;
            }

            h2 {
                font-size: 2em;
            }
        }

        .main-page-detalhes-detalhes {
            max-width: 500px;
            margin: auto;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 30px;
        }

        .main-page-detalhes-botoes {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;

            button {
                background-color: var(--laranja);
                display: flex;
                gap: 6px;
                align-items: center;

                cursor: pointer;
                font-size: 1em;
                border: none;
                border-radius: 5px;
                overflow: hidden;
                padding: 0px 10px;

                transition: 0.2s ease;

                a {
                    display: inline-block;
                    padding: 8px 0px;
                }
            }

            button:hover {
                background: #e07600;
                color: var(--white);
            }
        }
    }

}