{{>header}}
<main class="main-page main-form">
    <section class="main-page-form">
        <h2>Sub-agente</h2>
        <form class="main-page-form-cadastro-agente">
            <input type="tel" name="id_agente" id="id_agente" placeholder="ID do Sub-agente" required>
            
            <input type="text" name="nome" id="nome" placeholder="Nome do sub-agente" required>
            
            <input type="tel" name="telefone" id="telefone" placeholder="Telefone do sub-agente" required>
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>
</main>